<!-- <button (click)="changeData()">Update Data</button> -->
<div class="shadow p-4">
    <img class="center" [src]="data.productImage" class="img-thumbnail">
    <h4 class="fs-6">{{data.productName | uppercase }}</h4>
    <app-product-price [price]="data.productPrice" [sellingPrice]="data.productSalePrice" [code]="data3" class="center"></app-product-price>  
    <h5 class="center">{{data.productSalePrice | discount : data.productPrice}}</h5>

    <!-- condition statement use *ngIf="condition" -->
    <button (click)="notifyParent($event)" class="w-100 btn btn-primary" *ngIf="data.productStock > 0;else stock">Add to cart</button>
</div>

<ng-template #stock>
    <p>Out of Stock</p>
</ng-template>