<!-- this work because varibale and directive name are same, But for other case you have add directives and pass varibales seperatly
<app-github-search></app-github-search>

<input type="text" placeholder="pincode" appNumberOnly />
<br />
<br />
<br />
<br />
<input type="text" placeholder="pincode" appNumberOnly="6" />
<br />
<br />
<br />
<br /> -->
<!-- <app-checkout></app-checkout> -->
<!-- <app-currency (currencySelected)="getCode($event)"></app-currency> -->

<div class="container-fluid">
  <app-menu>
    <app-login-buttons></app-login-buttons>
    <app-currency></app-currency>
  </app-menu>
  <app-loader></app-loader>
  <router-outlet></router-outlet>
</div>
<!-- <app-product-list></app-product-list> -->
